doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='../assets/favicon.ico')
    link(rel='stylesheet' type='text/css' href='css/style.css')

  body
    noscript You need to enable JavaScript to run this app.
    block content